= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :period
    = f.select :period,[[" "],["day"],["week"],["month"],["year"]]  
  .field
    = f.label :start_at
    = f.datetime_select :start_at
  .field
    = f.label :end_at
    = f.datetime_select :end_at
  .field
    = f.hidden_field :user_id
  .field
    = f.hidden_field :period_id
  .field
    = f.label :color, "Event color"
    = f.select :color, options_for_select([["Red","#ff9999"], ["Orange","#ff9933"], ["Yellow","#ffcc00"], ["Green","#99ff33"], ["Blue","#33ffff"], ["Indigo","#3399ff"], ["Violet","#cc99ff"]])
  .field
    = f.label :end_period
    = f.datetime_select :end_period
    .actions
      = f.submit 'Save'
